<div class="jumbotron center">
	<h1 style="font-size:32px;">Xtills lets you create and share picture albums</h1>
	<p>            </p>
	<p><%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>